adme-py
admet_ai
aiofiles==24.1.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
attrs==25.4.0
blinker==1.9.0
brotli==1.2.0
chemfunc==1.0.12
chemprop==1.6.1
click==8.3.1
cloudpickle==3.1.2
descriptastorus==2.8.0
docstring_parser==0.17.0
exceptiongroup==1.3.1
execnet==2.1.2
fastapi==0.127.0
ffmpy==1.0.0
filelock==3.20.1
Flask==3.1.2
fsspec==2025.12.0
future==1.0.0
gradio==6.2.0
gradio_client==2.0.2
GridDataFormats==1.0.2
groovy==0.1.2
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.2.3
hyperopt==0.2.7
iniconfig==2.3.0
itsdangerous==2.2.0
joblib==1.5.3
markdown-it-py==4.0.0
matplotlib==3.10.7
mda-xdrlib==0.2.0
MDAnalysis==2.9.0
mdurl==0.1.2
mmtf-python==1.1.3
mpmath==1.3.0
mrcfile==1.5.4
msgpack==1.1.2
mypy_extensions==1.1.0
networkx==3.4.2
orjson==3.11.5
outcome==1.3.0.post0
pandas
pandas-flavor==0.8.1
pluggy==1.6.0
protobuf==6.33.2
py4j==0.10.9.9
pycairo==1.23.0
pydantic==2.12.5
pydantic_core==2.41.5
pydub==0.25.1
pytest==9.0.2
pytest-shutil==1.8.1
python-multipart==0.0.21
PyYAML==6.0.3
ramplot==1.0.4
rich==14.2.0
safehttpx==0.1.7
scikit-learn==1.7.2
seaborn==0.13.2
selenium==4.39.0
semantic-version==2.10.0
shellingham==1.5.4
sniffio==1.3.1
sortedcontainers==2.4.0
starlette==0.50.0
sympy==1.13.1
tensorboardX==2.6.4
termcolor==3.2.0
threadpoolctl==3.6.0
tomlkit==0.13.3
torch==2.5.0
tqdm==4.67.1
trio==0.32.0
trio-websocket==0.12.2
typed-argument-parser==1.11.0
typer==0.21.0
typer-slim==0.21.0
typing-inspect==0.9.0
typing-inspection==0.4.2
uvicorn==0.40.0
websocket-client==1.9.0
Werkzeug==3.1.4
wsproto==1.3.2
xarray==2025.6.1
